.callback-form {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 500;

    &__overlay {
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.6);

        @media (max-width: 1022px) {
            background: rgba(0, 0, 0, 0.8); 
        }
    }

    &__body, &__success {
        position: absolute;
        top: 0;
        bottom: 0;
        background-color: #FFFFFF;
        box-sizing: border-box;
        padding: 68px;
        transition: right .5s ease-out;

        &::-webkit-scrollbar {
            background-color: transparent;
            width: 4px;
        }
    
        &::-webkit-scrollbar-thumb {
            background-color: #D9DAE4;
            border-radius: 8px;
            
        }
    
        &::-moz-scrollbar {
            background-color: transparent;
            width: 4px;
        }
    
        &::-moz-scrollbar-thumb {
            background-color: #D9DAE4;
            border-radius: 8px;
        }

        @media (max-width: 1022px) {
            top: auto;
            left: 0;
            right: 0;
            bottom: 0;
            height: 90vh;
            width: 100%;
            padding: 24px 24px 46px;
            border-radius: 20px 20px 0 0;
            transition: bottom .3s ease-out;
            overflow-y: scroll;
        }
    }

    &__body { 
        right: -100%;
        visibility: hidden;

        @media (max-width: 1022px) {
            right: 0;
            bottom: -100%;
        }
    }

    &__success {
        right: -100%;
        visibility: hidden;
        
        &-title {
            font-family: 'Onest SemiBold', Arial, Helvetica, sans-serif;
            font-size: 48px;
            line-height: 54px;
            color: #42C8F8;
            max-width: 439px;

            @media (max-width: 1022px) {
                line-height: 50px; 
            }
        }

        &-subtitle {
            font-size: 16px;
            line-height: 22px;
            margin-top: 16px;

            @media (max-width: 1022px) {
                max-width: 180px;
            }
        }

        &-group {
            margin-top: 84px;

            @media (max-width: 1022px) {
                margin-top: 230px;
            }
        }

        &-text {
            color: #798088;
            max-width: 328px;
        }

        &-social {
            display: flex;
            align-items: center;
            margin-top: 12px;
        }

        &-social-item {
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            width: 30px;
            height: 30px;
            border: 1px solid #4D5561;
            background-color: #202B39;
            border-radius: 50%;
            margin-right: 12px;
            transition: all 0.3s ease-out;

            svg {
                fill: #FFFFFF;
            }
        }

        @media (max-width: 1022px) {
           right: 0;
           bottom: -100%;
           padding-top: 100px;
           padding-bottom: 62px; 
        }
    }

    &__title {
        font-family: 'Onest SemiBold', Arial, Helvetica, sans-serif;
        font-size: 24px;
        line-height: 28px;

        @media (max-width: 1022px) {
            font-family: 'SF Pro Display Medium', Arial, Helvetica, sans-serif;
            font-size: 20px;
            line-height: 20px;
            color: #000;
        }
    }

    &__form {
        width: 446px;
        border: 1px solid #FFFFFF;
        margin-top: 46px;
        border: none;

        @media (max-width: 1022px) {
            margin-top: 46px;
            width: 100%;
            max-width: 100%;
        }
    }

    &__form-group {
        position: relative;
        display: flex;
        flex-direction: column;
        margin-bottom: 40px;
        background-color: #F7F8FA;
        border-radius: 8px;
        box-sizing: border-box;
        padding: 16px;

        &:last-of-type{
            margin-bottom: 0;
        }

        label {
            font-size: 12px;
            line-height: 12px;
            opacity: 0.6;
        }

        input {
            border: none;
            outline: none;
            appearance: none;
            padding: 0;
            box-sizing: border-box;
            background: transparent;
            margin-top: 8px;
            font-family: 'Onest Medium', Arial, Helvetica, sans-serif;
            font-size: 14px;
            line-height: 16px;

            &::placeholder {
                font-family: 'Onest Medium', Arial, Helvetica, sans-serif;
                font-size: 14px;
                line-height: 16px;
                color: #202B39;
                opacity: 0.6; 
            }
        }

        textarea {
            border: none;
            outline: none;
            appearance: none;
            resize: none;
            padding: 0;
            box-sizing: border-box;
            background: transparent;
            margin-top: 8px;
            font-family: 'Onest Medium', Arial, Helvetica, sans-serif;
            font-size: 14px;
            line-height: 16px;
            min-height: 48px; 

            &::placeholder {
                font-family: 'Onest Medium', Arial, Helvetica, sans-serif;
                font-size: 14px;
                line-height: 16px;
                color: #202B39;
                opacity: 0.6; 
            }
        }

        @media (max-width: 1022px) {
            margin-bottom: 32px;
        }
    }

    &__form-agreement {
        position: relative;
        user-select: none;
        display: block;
        margin-top: 24px;
    }

    &__form-checkbox {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }

    &__form-label {
        display: flex;
        align-items: center;
        font-size: 12px;
        line-height: 16px;

        &::before {
            content: '';
            display: inline-block;
            width: 28px;
            height: 28px;
            border: 1px solid #D2D7DF;
            border-radius: 8px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: 12px 12px;
            box-sizing: border-box;
            margin-right: 12px;
        }

        @media (max-width: 1022px) {
            & > span {
                max-width: 220px;
            }
        }
    }

    &__form-checkbox:checked + &__form-label::before {
        background-color: #42C8F8;
        background-image: url('../images/check.svg');
        border: 1px solid #42C8F8;
    }

    &__form-link {
        text-decoration: none;
        color: #42C8F8;
        transition: color .3s ease-out;

        &:hover {
            color: #0096CB;
        }
    }

    &__form-error {
        display: none;
        position: absolute;
        left: 0;
        bottom: -20px;
        font-size: 12px;
        line-height: 16px;
        color: #E81D25;

        @media (max-width: 1022px) {
            margin-top: 4px;
        }
    }

    &__form-submit {
        border: none;
        outline: none;
        appearance: none;
        background-color: #42C8F8;
        width: 100%;
        padding: 20px;
        border-radius: 8px;
        font-family: 'Onest Regular', Arial, Helvetica, sans-serif;
        font-size: 14px;
        line-height: 20px;
        color: #fff;
        cursor: pointer;
        transition: all 0.3s ease-out;
        margin-top: 40px;

        svg {
            margin-left: 16px;
        }

        &:hover {
            background-color: #0096CB;

            @media (max-width: 1022px) {
                background-color: #42C8F8;
            }
        }

        @media (max-width: 1022px) {
            margin-top: 40px;
            width: 100%;
            max-width: 100%;
            background-position: 65% center;
        }
    }

    &__close, &__success-close {
        position: absolute;
        top: 68px;
        right: 68px;
        border: none;
        outline: none;
        appearance: none;
        width: 42px;
        height: 42px;
        background-color: #F7F8FA;
        border-radius: 8px;
        background-image: url('../images/close.svg');
        background-repeat: no-repeat;
        background-size: 10px 10px;
        background-position: center;
        cursor: pointer;

        @media (max-width: 1022px) {
            top: 24px;
            right: 24px;
        }
    }
}

