.contacts {
    position: relative;
    color: #FFFFFF;
    margin-top: 230px;
    z-index: 10;

    &__wrapper {
        display: flex;
        width: 100%;
        justify-content: space-between;

        @media (max-width: 1022px) {
            flex-direction: column;
        }
    }

    &__info {
        max-width: 600px;
        margin-right: 70px;

        @media (max-width: 1022px) {
            max-width: 342px;
            margin-right: 0; 
        }
    }

    &__page-name {
        @media (max-width: 1022px) {
            font-size: 16px;
            line-height: 22px; 
        }
    }

    &__title {
        font-family: 'Onest Medium', Arial, Helvetica, sans-serif;
        font-size: 56px;
        line-height: 56px;
        margin-top: 106px;

        @media (max-width: 1022px) {
            margin-top: 44px;
            font-family: 'Onest SemiBold', Arial, Helvetica, sans-serif;
            font-size: 32px;
            line-height: 36px;
        }

        @media (max-width: 340px) {
            font-size: 26px;
            line-height: 30px;
        }
    }

    &__subtitle {
        margin-top: 23px;

        @media (max-width: 1022px) {
            margin-top: 16px;
            max-width: 271px;
        }
    }

    &__contacts {
        margin-right: 104px;
        align-self: flex-end;

        @media (max-width: 1180px) {
            margin-right: 20px;
        }

        @media (max-width: 1022px) {
            flex-direction: column;
            align-self: flex-start;
            margin-top: 92px;
        }
    }

    &__mail {
    }

    &__mail-link {
        font-family: 'Onest Medium', Arial, Helvetica, sans-serif;
        font-size: 20px;
        line-height: 28px;
        color: #FFFFFF;
        text-decoration: none;

        @media (max-width: 1022px) {
            font-size: 16px;
            line-height: 20px; 
        }
    }

    &__mail-sign {
        font-size: 12px;
        line-height: 16px;
        margin-top: 4px;

        @media (max-width: 1022px) {
            margin-top: 8px;
        }
    }

    &__phone {
        margin-top: 45px;

        @media (max-width: 1022px) {
            margin-top: 24px;
        }
    }

    &__phone-link {
        font-family: 'Onest Medium', Arial, Helvetica, sans-serif;
        font-size: 40px;
        line-height: 38px;
        color: #FFFFFF;
        text-decoration: none;

        @media (max-width: 1180px) {
            font-size: 32px;
        }

        @media (max-width: 340px) {
            font-size: 28px;
        }
    }

    &__phone-sign {
        font-size: 12px;
        line-height: 16px;
        margin-top: 8px;

        @media (max-width: 1022px) {
            margin-top: 4px; 
        }
    }

    @media (max-width: 1022px) {
        margin-top: 107px;
    }
}

.popup-video {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 500;

    &__overlay {
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.6);
    }

    &__body {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        max-width: 920px;
        background-color: #FFFFFF;
        transform: translate(-50%, -50%);
        overflow: hidden;
        border-radius: 8px;
        background: transparent;

        .thumb-wrap {
            position: relative;
            padding-bottom: 56.25%;
            height: 0;
            overflow: hidden;
            border-radius: 8px;
            background: transparent;
            
            iframe {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-width: 0;
                outline-width: 0;
                z-index: 600;
            }
        }
    }

    &__close {
        position: absolute;
        top: 10px;
        right: 10px;
        border: none;
        outline: none;
        appearance: none;
        width: 44px;
        height: 44px;
        background-color: #42C8F8;
        border-radius: 8px;
        background-image: url('../images/close.svg');
        background-repeat: no-repeat;
        background-size: 10px 10px;
        background-position: center;
        cursor: pointer;
        z-index: 600;
        transition: background-color .3s ease-out;

        &:hover {
            background-color: #0096CB;
        }

        @media (max-width: 1022px) {
            width: 32px;
            height: 32px; 
        }
    }
}

.map {
    margin-top: 18px;

    &__wrapper {
        position: relative;
        z-index: 10;
        width: 100%;
        min-height: 694px;
        border-radius: 8px;
        overflow: hidden;

        [class*="copyrights-pane"] {
            display: none !important;
        }

        .ymaps-2-1-79-image {
            @media (max-width: 1022px) {
                width: 76px !important;
                height: 76px !important;
                background-size: 76px 76px !important;
            }
        }

        @media (max-width: 1022px) {
            min-height: 584px;
        }
    }

    @media (max-width: 1022px) {
        margin-top: 27px;
    }
}




