.main-doctor-detail {
    padding-top: 102px;
    padding-bottom: 0;
    background-color: #3192D4;

    .container {
        @media (max-width: 1023px) {
            padding: 0;
        }
    }

    .canvas-blur {
        @media (max-width: 1023px) {
            display: none; 
        } 
    }

    @media (max-width: 1023px) {
        padding-top: 0;
        background-color: #5AAEE7; 
    }
}

.doctor-detail {
    position: relative;
    z-index: 10;
    display: flex;

    &__info {
        max-width: 678px;
        color: #FFFFFF;
        padding-top: 272px;
        padding-bottom: 110px;

        @media (max-width: 1023px) {
            order: 2;
            max-width: 100%;
            padding: 33px 24px 74px;
            background-color: #3192D4;
            border-radius: 20px 20px 0 0;
            margin-top: 8px;
        }
    }

    &__resume {

        &-fact {
            display: inline-flex;
            align-items: center;

            &::after {
                content: '';
                display: inline-block;
                width: 2px;
                height: 2px;
                border-radius: 50%;
                background-color: #FFFFFF;
                margin: 2px 3px 0 6px;
                flex-shrink: 0;
            }

            &:last-child {
                &::after {
                    display: none;
                }
            }
        }

        &-name {
            font-family: 'Onest Medium', Arial, Helvetica, sans-serif;
            font-size: 56px;
            line-height: 56px;
            margin-top: 32px;

            @media (max-width: 1023px) {
                font-family: 'Onest SemiBold', Arial, Helvetica, sans-serif;
                font-size: 32px;
                line-height: 36px;
                margin-top: 16px;
            }

            &-firstname {}

            &-patronymic {}

            &-surname {}
        }

        &-position {
            margin-top: 32px;

            &-item {
                font-family: 'Onest SemiBold', Arial, Helvetica, sans-serif;
                font-size: 16px;
                line-height: 20px;
            }

            @media (max-width: 1023px) {
                margin-top: 24px;
            }
        }

        &-tags {
            font-size: 14px;
            line-height: 18px;
            opacity: 0.8;
            max-width: 444px;
            margin-top: 12px;
        }

        &-stations {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-top: 76px;

            @media (max-width: 1023px) {
                margin-top: 42px;
            }
        }

        &-station {
            background: rgba(255, 255, 255, 0.2);
            backdrop-filter: blur(32px);
            border-radius: 4px;
            display: flex;
            align-items: center;
            padding: 8px 12px;
            margin-bottom: 12px;

            &:last-child {
                margin-bottom: 0;
            }

            &-name {
                margin-left: 8px;

                @media (max-width: 330px) {
                    font-size: 13px;
                }
            }

            .bull {
                flex-shrink: 0;
            }

        }

    }

    &__workflow {
        //width: 100%;
        width: 678px;
        margin-top: 136px;

        &-title {
            font-family: 'Onest SemiBold', Arial, Helvetica, sans-serif;
            font-size: 24px;
            line-height: 28px;
            max-width: 415px;

            @media (max-width: 1023px) {
                font-size: 20px;
                line-height: 24px;
                max-width: 330px; 
            }
        }

        &-description {
            line-height: 22px;
            max-width: 600px;
            margin-top: 16px;
        }

        &-slider {
            position: relative;
            width: 100%;
            height: 382px;
            border-radius: 8px;
            overflow: hidden;
            margin-top: 24px;

            .owl-stage {
                display: flex;
                height: 100%;
                align-items: flex-end;
    
                .owl-item {
                  height: 100%;
                }
              }
    
              .owl-stage-outer {
                overflow: hidden;
                height: 100%;
              }

              .owl-nav {
                position: absolute;
                top: 50%;
                left: 0;
                right: 0;
                transform: translateY(-50%);
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 0 36px;

                @media (max-width: 1023px) {
                    padding: 0 24px;
                }
              }
    
              .owl-prev, 
              .owl-next {
                border: none;
                outline: none;
                appearance: none;
                width: 44px;
                height: 44px;
                border-radius: 8px;
                background-color: rgba(226, 226, 226, 0.6);
                backdrop-filter: blur(10px);
                background-image: url('../images/arrow-slider.svg');
                background-repeat: no-repeat;
                background-size: 12px 9px;
                background-position: center;
                cursor: pointer;
                transition: background-color .3s ease-out;

                &:hover {
                    background-color: rgba(226, 226, 226, 0.4);
                }

                span {
                    display: none;
                }

                @media (max-width: 360px) {
                    width: 32px;
                    height: 32px;
                }
              }

              .owl-prev {
                transform: scaleX(-1);
              }

              @media (max-width: 1023px) {
                height: auto;
                aspect-ratio: 57 / 32;
              }
        }

        &-slide {
            position: relative;
            width: 100%;
            height: 100%;

            picture {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
            }
            
            &-image {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

        }

        @media (max-width: 1023px) {
            margin-top: 80px;
            width: 100%;
        }

    }


    &__data {
        margin-top: 72px;

        &-head {
            display: flex;
            align-items: center;
            justify-content: space-between;

            &-title {
                font-family: 'Onest SemiBold', Arial, Helvetica, sans-serif;
                font-size: 24px;
                line-height: 28px;
                display: flex;

                @media (max-width: 1023px) {
                    font-size: 20px;
                    line-height: 24px;
                }
            }

            &-counter {
                margin-left: 8px;
                opacity: 0.6;

                @media (max-width: 1023px) {
                    display: none;
                }
            }

            &-btn-all, &-btn-all-mob {
                border: none;
                outline: none;
                appearance: none;
                background: transparent;
                padding: 0;
                font-family: 'Onest Regular', Arial, Helvetica, sans-serif;
                font-size: 14px;
                line-height: 20px;
                color: #fff;
                cursor: pointer;
                transition: all .3s ease-out;

                &:hover {
                    opacity: 0.6;
                }

                @media (max-width: 1023px) {
                    display: none;
                }
            }

            &-btn-all-mob {
                display: none;
                margin-top: 16px;

                &:hover {
                    opacity: 1;
                }

                @media (max-width: 1023px) {
                    display: inline;
                }
            }

        

        }

        &-body {
            margin-top: 24px;
        }

        &-achievements {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        &-achievement {
            background-color: #F7F8FA;
            border-radius: 8px;
            box-sizing: border-box;
            padding: 20px;
            display: flex;
            flex-direction: column;
            width: 100%;
            max-width: 329px;
            height: 245px;

            &-tags {
                display: flex;
                align-items: center;
            }

            &-tag {
                background-color: #EDEFF2;
                backdrop-filter: blur(15px);
                border-radius: 4px;
                padding: 5px 6px;
                font-size: 10px;
                line-height: 10px;
                color: #202B39;
                opacity: 0.6;
                margin-right: 4px;

                &:last-child {
                    margin-right: 0;
                }
            }

            &-title {
                font-family: 'Onest SemiBold', Arial, Helvetica, sans-serif;
                font-size: 16px;
                line-height: 20px;
                color: #202B39;
                margin-top: 16px;

                @media (max-width: 360px) {
                    font-size: 15px;
                }
            }

            &-description {
                font-size: 12px;
                line-height: 16px;
                color: #202B39;
                opacity: 0.6;
                margin-top: 8px;
            }

            &-bottom {
                display: flex;
                align-items: flex-end;
                justify-content: space-between;
                margin-top: auto;
            }

            &-date {
                font-size: 12px;
                line-height: 12px;
                color: #202B39;
                opacity: 0.6;
            }

            &-document {
                position: relative;
                width: 55px;
                height: 55px;
                background-color: #EDEFF2;
                border-radius: 8px;
                display: flex;
                align-items: center;
                justify-content: center;
                overflow: hidden;
                cursor: pointer;

                picture {
                    width: 29px;
                    height: 42px;
                }

                &-preview {
                    width: 100%;
                    height: 100%;
                }

                &-hover {
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background-color: rgba(226, 226, 226, 0.1);
                    backdrop-filter: blur(5px);
                    background-image: url('../images/search.svg');
                    background-repeat: no-repeat;
                    background-size: 16px 16px;
                    background-position: center center;
                    opacity: 0;
                    transition: opacity .3s ease-out;

                    @media (max-width: 1023px) {
                        display: none;
                    }
                }

                &:hover &-hover {
                    opacity: 1;
                }

            }

            &:last-child {
                @media (max-width: 1023px) {
                    display: none;
                }
            }

        }

        @media (max-width: 1023px) {
            margin-top: 52px;
        }
    }

    &__right {
        width: 100%;
        margin-left: 22px;
        box-sizing: border-box;

        .canvas-blur-mobile {
            display: none;

            @media (max-width: 1023px) {
                display: block;
            }
        }

        &-all-doctors {
            display: none;
            text-decoration: none;
            color: #fff;
            opacity: 0.9;
            position: absolute;
            top: 71px;
            left: 24px;
            z-index: 15;
            align-items: center;

            &::before {
                content: '';
                display: block;
                width: 9px;
                height: 9px;
                background-image: url('../images/arrow-right-white.svg');
                background-repeat: no-repeat;
                background-size: 9px 9px;
                background-position: center;
                transform: scaleX(-1);
                margin-right: 12px;
            }

            @media (max-width: 1023px) {
                display: flex;
            }
        }

        @media (max-width: 1023px) {
            position: relative;
            order: 1;
            margin-left: 0;
            padding: 0 9px;
            z-index: 10;
        }
    }

    &__photo {
        position: sticky;
        top: 0;
        width: 100%;
        height: 100vh;

        @media (max-width: 1023px) {
            position: relative;
            height: 519px;
            z-index: 10;
        }

        @media (max-width: 360px) {
            height: 480px;
        }

        @media (max-width: 330px) {
            height: 460px;
        }

        &-wrapper {
            position: absolute;
            width: 70.58823529411765%;
            aspect-ratio: 16 / 31;
            max-width: 416px;
            max-height: 100%;
            bottom: 0;
            left: 0;
            right: 0;

            @media (max-width: 1023px) {
                width: 60.51282051282051%;
                max-width: 225px;
                aspect-ratio: 118 / 229;
                bottom: 72px;
                left: 50%;
                transform: translateX(-50%);
            }
        }

        img {
            display: block;
            max-width: 100%;
            max-height: 100%;
            position: absolute;
            left: 0;
            bottom: 0;
            top: 0;
            right: 0;
        }

        &-message {
            position: absolute;
            bottom: 130px;
            right: 70px;
            background: rgba(255, 255, 255, 0.6);
            backdrop-filter: blur(45px);
            border-radius: 20px;
            box-sizing: border-box;
            padding: 20px;
            color: #202B39;
            max-width: 329px;

            &-title {
                font-family: 'Onest SemiBold', Arial, Helvetica, sans-serif;
                font-size: 16px;
                line-height: 20px;
            }

            &-text {
                font-size: 12px;
                line-height: 14px;
                margin-top: 4px;

                @media (max-width: 1023px) {
                    max-width: 247px;
                }
            }

            @media (max-width: 1300px) {
                right: 0;
            }

            @media (max-width: 1060px) {
                bottom: 80px;
            }

            @media (max-width: 1023px) {
                bottom: 0;
                left: 0;
                right: 0;
                max-width: 100%;
            }

        }

    }

	&__document {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 500;

        &.open {
            display: block;
        }

        &-overlay {
            position: fixed;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.6);
        }

        &-body {
           width: 37.5%;
           aspect-ratio: 270 / 391;
           max-width: 540px;
           max-height: 90%;
           position: absolute;
           top: 50%;
           left: 50%;
           transform: translate(-50%, -50%);

           img {
               display: block; 
               max-width: 100%;
               max-height: 100%;
               float: right;
           }

           @media (max-width: 1023px) {
                width: 79.48717948717949%;
                aspect-ratio: 310 / 449;
                max-width: 310px;
                top: 65px;
                transform: translate(-50%, 0);
           }

        }

        &-close {
            border: none;
            outline: none;
            appearance: none;
            cursor: pointer;
            width: 44px;
            height: 44px;
            background-color: #F7F8FA;
            backdrop-filter: blur(40px);
            border-radius: 8px;
            background-image: url('../images/close.svg');
            background-repeat: no-repeat;
            background-size: 10px 10px;
            background-position: center;
            position: absolute;
            top: 0;
            right: -60px;

            @media (max-width: 1023px) {
                width: 38px;
                height: 38px;
                top: auto;
                right: auto;
                left: 50%;
                bottom: -50px;
                transform: translateX(-50%);
            }
        }
	}

    @media (max-width: 1023px) {
        flex-direction: column;
    }

}
