.doctors {

    margin-top: 28px;
    margin-bottom: 100px;

    &__row {
        display: flex;
        margin: 0 -10px 20px -10px;

        @media (max-width: 1022px) {
            flex-direction: column;
            margin: 0 -10px 0 -10px;
        }

        @media (max-width: 388px) {
            margin: 0;
        }
    }

    &__col {
        display: flex;
        width: 50%;

        @media (max-width: 1022px) {
            margin-bottom: 20px;
            width: 100%;
        }

        @media (max-width: 388px) {
            flex-direction: column;
            margin-bottom: 0;
        }
    }

    &__card {
        position: relative;
        width: 100%;
        max-width: 330px;
        height: 440px;
        background-color: #E7E7E7;
        border-radius: 8px;
        box-sizing: border-box;
        margin: 0 10px;
        overflow: hidden;

        @media (max-width: 1380px) {
            height: 420px;
        }

        @media (max-width: 1200px) {
            height: 338px;
        }

        @media (max-width: 1022px) {
            max-width: none;
            height: 0px;
            padding-bottom: 56.25%;
        }

        @media (max-width: 388px) {
            margin: 0 0 20px 0;
            padding-bottom: 120%;
        }
    }

    &__location {
        display: flex;
        position: absolute;
        top: 24px;
        left: 24px;

        .bull-hod, .bull-bel {
            position: relative;
            margin-right: 8px;

            &:hover .doctors__tooltip {
                visibility: visible;
                opacity: 1;
                
            }

            @media (max-width: 1022px) {
                margin-right: 4px;
            }
        }

        @media (max-width: 1022px) {
            top: 12px;
            left: 12px;
        }
    }

    &__tooltip {
        position: absolute;
        bottom: 210%;
        transform: translateX(-50%);
        display: block;
        width: 158px;
        border-radius: 5px;
        padding: 15px 20px;
        box-sizing: border-box;
        background-color: #4B535F;
        font-size: 12px;
        line-height: 12px;
        color: #FFFFFF;
        text-align: center;
        z-index: 20;
        transition: opacity 0.3s;
        opacity: 0;
        visibility: hidden;
    }

    &__image {
        position: absolute;
        top: 30px;
        left: 50%;
        transform: translateX(-50%);
        width: 248px;
        height: 325px;
        z-index: 5;

        img {
            width: 100%;
            height: auto;
        }

        @media (max-width: 1200px) {
            width: 190px;
            height: 250px;
        }

        @media (max-width: 1022px) {
            width: 75.15%;
            height: auto;
            top: 15px;
        }

        @media (max-width: 500px) {
            width: 79.37%;
        }
    }

    &__info {
        position: absolute;
        bottom: 8px;
        left: 8px;
        right: 8px;
        background-color: #FFFFFF;
        padding: 16px;
        border-radius: 8px;
        z-index: 10;

        @media (max-width: 1022px) {
            padding: 12px;
        }
    }

    &__info-name {
        font-family: 'Onest SemiBold', Arial, Helvetica, sans-serif;
        font-size: 16px;
        line-height: 20px;
        color: #232323;
        max-width: 190px;

        @media (max-width: 1022px) {
            font-size: 11px;
            line-height: 14px;
        }

        @media (max-width: 388px) {
            font-size: 16px;
            line-height: 20px;
        }
    }

    &__info-spec {
        margin-top: 26px;
        font-size: 12px;
        line-height: 16px;
        color: #798088;

        @media (max-width: 1380px) {
            max-width: 180px;
        }

        @media (max-width: 1022px) {
            font-size: 10px;
            line-height: 12px;
            margin-top: 11px;
        }

        @media (max-width: 388px) {
            font-size: 12px;
            line-height: 16px;
            max-width: 100%;
        }
    }

    &__info-btn {
        position: absolute;
        bottom: 16px;
        right: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        border: 1px solid #E6E6E6;
        border-radius: 8px;
        background-image: url('../images/arrow-right.svg');
        background-repeat: no-repeat;
        background-size: 8px 7px;
        background-position: center;

        @media (max-width: 1022px) {
            display: none;
        }
    }

    @media (max-width: 1022px) {
        margin-top: 20px;
        margin-bottom: 68px;
    }
}

.motivation-block {
    position: relative;
    width: 100%;
    height: 440px;
    background-color: #E7E7E7;
    border-radius: 8px;
    box-sizing: border-box;
    margin: 0 10px;
    padding: 32px 42px 42px 42px;
    min-width: 48.2%;

    &__logo {
        width: 124px;
        height: 18px;

        img {
            width: 100%;
            height: auto;
        }
    }

    &__title {
        font-size: 48px;
        line-height: 48px;
        color: #202B39;
        margin-top: 60px;

        @media (max-width: 1200px) {
            font-size: 32px;
            line-height: 34px; 
        }

        @media (max-width: 1022px) {
            margin-top: 64px;
        }

        @media (max-width: 388px) {
            font-size: 26px;
            line-height: 30px;
        }
    }

    &__text {
        font-size: 14px;
        line-height: 20px;
        color: #202B39;
        margin-top: 152px;
        max-width: 314px;

        @media (max-width: 1200px) {
            margin-top: 16px; 
        }
    }

    &__btn {
        position: absolute;
        bottom: 42px;
        right: 42px;
        border: none;
        outline: none;
        appearance: none;
        background-color: #FFFFFF;
        background-image: url('../images/arrow-right-dark.svg');
        background-repeat: no-repeat;
        background-size: 12px 9px;
        background-position: 88% center;
        padding: 18px 46px 18px 18px;
        border-radius: 8px;
        font-family: 'Onest Regular', Arial, Helvetica, sans-serif;
        font-size: 14px;
        line-height: 20px;
        color: #212121;
        cursor: pointer;

        @media (max-width: 1200px) {
            bottom: 28px;
        }

        @media (max-width: 1022px) {
            right: auto;
            left: 28px;
        }
    }

    @media (max-width: 1380px) {
        height: 420px;
    }

    @media (max-width: 1200px) {
        height: 338px;
    }

    @media (max-width: 1022px) {
        height: 350px;
        padding: 28px;
    }

    @media (max-width: 388px) {
        margin: 0 0 20px 0;
    }
}

