.filters {
    margin-top: 47px;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__services, &__clinic, 
    &__specialization, &__search {
        width: 100%;
        max-width: 330px;
        margin: 0 10px;
    }

    &__clinic {
        margin-left: 0;
    }

    &__name {
        font-size: 12px;
        line-height: 16px;
        color: #798088;
    }

    &__row {
        display: flex;
        align-items: center;
        margin-top: 12px;
    }

    &__services, &__specialization, &__search {
        .filters__row {
            justify-content: space-between;
        }
    }

    &__services, &__specialization {
        .filters__row {
            cursor: pointer;
        }
    }

    &__link {
        display: flex;
        align-items: center;
        margin-right: 24px;
        font-family: 'Onest SemiBold', Arial, Helvetica, sans-serif;
        font-size: 16px;
        line-height: 20px;
        color: #798088;
        text-decoration: none;

        .bull-area {
            margin-left: 6px;
            width: 20px;
            justify-content: space-between;
        }

        .bull-hod, .bull-bel {
            opacity: 0.4;
        }

        @media (max-width: 1380px) {
            font-size: 13px;
            margin-right: 13px;
        }

        @media (max-width: 1110px) {
            margin-right: 6px;
        }
    }

    &__link-active {
        color: #202B39 !important;
        
        .bull-hod, .bull-bel {
            opacity: 1;
        }
    }

    #clinic_hodynka, #clinic_belyaevo {
        .bull-area {
            width: auto;
        } 
    }

    &__services {
        position: relative;
    }

    &__val-area {
        display: flex;
        align-items: center;
    }

    &__val {
        font-family: 'Onest SemiBold', Arial, Helvetica, sans-serif;
        font-size: 16px;
        line-height: 20px;
        color: #202B39;

        @media (max-width: 1380px) {
            font-size: 13px;
            line-height: 17px;
        }
    }

    &__val-count {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 27px;
        height: 24px;
        border: 1px solid #D9DAE4;
        border-radius: 24px;
        font-size: 10px;
        line-height: 10px;
        color: #202B39;
        margin-left: 8px;
        box-sizing: border-box;
    }

    &__arrow-icon {
        width: 11px;
        height: 6px;
        background-image: url('../images/arrow-down-black.svg');
        background-repeat: no-repeat;
        background-size: 11px 6px;
        background-position: center;
        margin-right: 5px;
    }

    &__specialization {
        position: relative;
    }

    &__search-input {
        border: none;
        outline: none;
        appearance: none;
        font-family: 'Onest SemiBold', Arial, Helvetica, sans-serif;
        font-size: 16px;
        line-height: 20px;
        color: #202B39;
        padding: 0;
        
        &::placeholder {
            font-family: 'Onest SemiBold', Arial, Helvetica, sans-serif;
            font-size: 16px;
            line-height: 20px;
            color: #798088;

            @media (max-width: 1380px) {
                font-size: 13px;
                line-height: 17px;
            }
        }

        @media (max-width: 1380px) {
            font-size: 13px;
            line-height: 17px;
        }
    }

    &__search-icon {
        width: 18px;
        height: 18px;
        background-image: url('../images/search.svg');
        background-repeat: no-repeat;
        background-size: 16px 16px;
        background-position: center;
    }

    &__search {
        margin-right: 0;
    }

    &__line {
        width: 100%;
        height: 1px;
        background-color: #E6E5E5;
        margin-top: 13px;
    }

    /*Filter Specialization*/

    &__switcher-spec, &__switcher-serv {
        display: none;
        position: absolute;
        top: 120%;
        width: 300px;
        padding: 8px 0;
        box-sizing: border-box;
        z-index: 100;
        background-color: #FFFFFF;
        border-radius: 8px;
        box-shadow: 0px 6px 45px rgba(0, 0, 0, 0.1);
    }

    .switcher-active {
        display: block;
    }

    &__switcher-item {
        padding: 12px 24px;
        border-top: 1px solid #EDEFF2;
    }

    .switcher-item-first {
        border: none;
    }

    &__switcher-name {
        font-family: 'Onest SemiBold', Arial, Helvetica, sans-serif;
        font-size: 12px;
        line-height: 16px;
        color: #000000;
        display: flex;
        justify-content: space-between;
        user-select: none;
       
    }

    &__radio {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }

    &__switcher-name::after {
        content: '';
        display: inline-block;
        width: 20px;
        height: 20px;
        border: 1px solid #D2D7DF;
        border-radius: 4px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 10px 7px;
    }

    &__radio:checked + &__switcher-name::after {
        background-color: #42C8F8;
        background-image: url('../images/check.svg');
        border: 1px solid #42C8F8;
    }

    &__switcher-group:hover > &__radio:not(:checked) + &__switcher-name::after {
        background-color: #8DDEFB;
        border: 1px solid #5FD1F9;
    }

    &__switcher-desc {
        font-size: 10px;
        line-height: 12px;
        color: #798088;
        max-width: 200px;
    }

    @media (max-width: 1022px) {
        display: none;
    }
}

.filters-mobile {
    display: none;
    margin-top: 20px;

    &__btn {
        border: none;
        outline: none;
        appearance: none;
        padding: 18px;
        font-family: 'Onest Regular', Arial, Helvetica, sans-serif;
        font-size: 14px;
        line-height: 20px;
        color: #212121;
        background-color: #F6F6F6;
        width: 100%;
        border-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__wrap {
        display: flex;
        align-items: center;
    }

    &__count {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 27px;
        height: 24px;
        border: 1px solid #D9DAE4;
        border-radius: 24px;
        font-size: 10px;
        line-height: 10px;
        color: #202B39;
        margin-left: 8px;
        box-sizing: border-box;
        background-color: #FFFFFF; 
    }

    @media (max-width: 1022px) {
        display: block;
    }
}

.mobile-filters-menu {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 500;

    &__overlay {
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.8);
    }

    &__body {
        position: absolute;
        bottom: -100%;
        left: 0;
        right: 0;
        background-color: #FFFFFF;
        border-radius: 20px 20px 0 0;
        height: 558px;
        padding: 24px 24px 64px 24px;
        box-sizing: border-box;
        transition: bottom .3s ease-out;
    }

    &__header {
        padding: 15px 0;
        position: relative;
    }

    &__title {
        font-family: 'SF Pro Display Medium', Arial, Helvetica, sans-serif;
        font-size: 20px;
        line-height: 20px;
        color: #000000;
        text-align: center;
    }

    &__reset {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        border: none;
        outline: none;
        appearance: none;
        background: transparent;
        padding: 0;
        font-family: 'Onest Regular', Arial, Helvetica, sans-serif;
        font-size: 14px;
        line-height: 20px;
        color: #42C8F8;
        visibility: hidden;
    }

    &__close {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        border: none;
        outline: none;
        appearance: none;
        width: 44px;
        height: 44px;
        background-color: #F6F6F6;
        border-radius: 8px;
        background-image: url('../images/close.svg');
        background-repeat: no-repeat;
        background-size: 10px 10px;
        background-position: center;
    }

    &__items {
        margin-top: 32px;
    }

    &__item {
        border-bottom: 1px solid #E6E6E6;
        padding-bottom: 12px;
        margin-bottom: 24px;
    }

    &__item-name {
        font-size: 12px;
        line-height: 16px;
        color: #798088;
        margin-bottom: 12px;
    }

    &__item-values {
        display: flex;
        align-items: center;
    }

    &__item-value {
        display: flex;
        align-items: center;
        margin-right: 24px;
        font-family: 'Onest SemiBold', Arial, Helvetica, sans-serif;
        font-size: 16px;
        line-height: 20px;
        color: #798088;

        &-first {
            .bull-area {
                width: 20px;
                justify-content: space-between;
            }
        }

        .bull-area {
            padding-top: 1px;
            margin-left: 6px;
        }

        .bull-hod, .bull-bel {
            opacity: 0.4;
        }

        @media (max-width: 388px) {
            margin-right: 16px;
            font-size: 14px;
            line-height: 18px;
        }

        @media (max-width: 340px) {
            margin-right: 10px;
        }
    }

    &__row {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__val-area {

    }

    &__val {
        font-family: 'Onest SemiBold', Arial, Helvetica, sans-serif;
        font-size: 16px;
        line-height: 20px;
        color: #202B39;

        @media (max-width: 388px) {
            font-size: 14px;
            line-height: 18px;
        }
    }

    &__arrow-icon {
        width: 11px;
        height: 6px;
        background-image: url('../images/arrow-down-black.svg');
        background-repeat: no-repeat;
        background-size: 11px 6px;
        background-position: center;
    }

    &__search-input {
        border: none;
        outline: none;
        appearance: none;
        font-family: 'Onest SemiBold', Arial, Helvetica, sans-serif;
        font-size: 16px;
        line-height: 20px;
        color: #202B39;
        padding: 0;

        &::placeholder {
            font-family: 'Onest SemiBold', Arial, Helvetica, sans-serif;
            font-size: 16px;
            line-height: 20px;
            color: #798088;

            @media (max-width: 388px) {
                font-size: 14px;
                line-height: 18px;
            }
        }

        @media (max-width: 388px) {
            font-size: 14px;
            line-height: 18px;
        }
    }

    &__search-icon {
        width: 18px;
        height: 18px;
        background-image: url('../images/search.svg');
        background-repeat: no-repeat;
        background-size: 16px 16px;
        background-position: center;
    }

    &__submit {
        border: none;
        outline: none;
        appearance: none;
        font-family: 'Onest Regular', Arial, Helvetica, sans-serif;
        font-size: 14px;
        line-height: 20px;
        color: #FFFFFF;
        background-color: #42C8F8;
        width: 100%;
        padding: 20px 0;
        border-radius: 8px;
        margin-top: 16px;
    }	
}

.mobile-spec-menu, .mobile-serv-menu {
    position: absolute;
    bottom: -100%;
    left: 0;
    right: 0;
    background-color: #FFFFFF;
    border-radius: 20px 20px 0 0;
    height: 600px;
    padding: 24px 24px 64px 24px;
    box-sizing: border-box;
    transition: bottom .3s ease-out;
    visibility: hidden;

    &__header {
        padding: 15px 0;
        position: relative;
    }

    &__title {
        font-family: 'SF Pro Display Medium', Arial, Helvetica, sans-serif;
        font-size: 20px;
        line-height: 20px;
        color: #000000;
        text-align: center;

        @media (max-width: 340px) {
            font-size: 17px;
        }
    }

    &__reset {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        border: none;
        outline: none;
        appearance: none;
        background: transparent;
        padding: 0;
        font-family: 'Onest Regular', Arial, Helvetica, sans-serif;
        font-size: 14px;
        line-height: 20px;
        color: #42C8F8;
        visibility: hidden;
    }

    &__close {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        border: none;
        outline: none;
        appearance: none;
        width: 44px;
        height: 44px;
        background-color: #F6F6F6;
        border-radius: 8px;
        background-image: url('../images/close.svg');
        background-repeat: no-repeat;
        background-size: 10px 10px;
        background-position: center;
    }

    &__switcher {
        margin-top: 32px;
        height: 360px;
        overflow: scroll;
    }

    &__switcher-item {
        margin-bottom: 14px;
        border-bottom: 1px solid #E6E6E6;
        padding-bottom: 14px;
    }

    &__radio {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }

    &__switcher-name {
        font-family: 'Onest SemiBold', Arial, Helvetica, sans-serif;
        font-size: 16px;
        line-height: 20px;
        color: #202B39;
        display: flex;
        justify-content: space-between;
        user-select: none;
    }

    &__switcher-name::after {
        content: '';
        display: inline-block;
        width: 28px;
        height: 28px;
        border: 1px solid #D2D7DF;
        border-radius: 4px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 12px 12px;
        box-sizing: border-box;
    }

    &__radio:checked + &__switcher-name::after {
        background-color: #42C8F8;
        background-image: url('../images/check.svg');
        border: 1px solid #42C8F8;
    }

    &__switcher-desc {
        margin-top: -3px;
        font-size: 12px;
        line-height: 16px;
        color: #798088;
        max-width: 300px;

        @media (max-width: 340px) {
            max-width: 240px;
        }
    }

    &__submit {
        border: none;
        outline: none;
        appearance: none;
        font-family: 'Onest Regular', Arial, Helvetica, sans-serif;
        font-size: 14px;
        line-height: 20px;
        color: #FFFFFF;
        background-color: #42C8F8;
        width: 100%;
        padding: 20px 0;
        border-radius: 8px;
        margin-top: 30px;
    }
}

.reviews-mob-filters-menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 500;

    &__overlay {
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.8);
    }

    &__body {
        position: absolute;
        bottom: -100%;
        left: 0;
        right: 0;
        background-color: #FFFFFF;
        border-radius: 20px 20px 0 0;
        //height: 558px;
        padding: 24px 24px 32px 24px;
        box-sizing: border-box;
        transition: bottom .3s ease-out;
    }

    &__header {
        padding: 15px 0;
        position: relative;
    }

    &__title {
        font-family: 'Onest SemiBold', Arial, Helvetica, sans-serif;
        font-size: 20px;
        line-height: 20px;
        color: #202B39;
        text-align: center;
    }

    &__reset {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        border: none;
        outline: none;
        appearance: none;
        background: transparent;
        padding: 0;
        font-family: 'Onest Regular', Arial, Helvetica, sans-serif;
        font-size: 14px;
        line-height: 20px;
        color: #42C8F8;
    }

    &__close {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        border: none;
        outline: none;
        appearance: none;
        width: 44px;
        height: 44px;
        background-color: #F6F6F6;
        border-radius: 8px;
        background-image: url('../images/close.svg');
        background-repeat: no-repeat;
        background-size: 10px 10px;
        background-position: center;
    }

   
	&__items {
        margin-top: 32px;
	}

	&__item {
        background-color: #F7F8FA;
        border-radius: 8px;
        padding: 16px;
        margin-bottom: 4px;

        &:last-child {
            margin-bottom: 0;  
        }
	}

	&__item-name {
        font-family: 'Onest Regular', Arial, Helvetica, sans-serif;
        font-size: 12px;
        line-height: 12px;
        color: #767D86;
	}

	&__item-values {
        display: flex;
        align-items: center;
        margin-top: 8px;
	}

	&__item-value {
        display: flex;
        align-items: baseline;
        font-family: 'Onest Medium', Arial, Helvetica, sans-serif;
        font-size: 14px;
        line-height: 14px;
        color: #767D86;
        margin-right: 16px;

        &:last-child {
            margin-right: 0; 
        }

        .bull-area {
            margin-left: 4px;

            .bull {
                margin-right: 4px;
                opacity: 0.4;
                &:last-child {
                    margin-right: 0; 
                }
            }
        }

        &.active {
            color: #202B39;
        }

        &.active .bull-area .bull {
            opacity: 1;
        }
	}

    &__item-val {
        display: flex;
        align-items: center;
        margin-top: 8px;
        

        &::after {
            content: '';
            display: block;
            width: 11px;
            height: 6px;
            background-image: url('../images/arrow-down-black.svg');
            background-repeat: no-repeat;
            background-size: 11px 6px;
            background-position: center;
        }
    }

    &__item-input {
        height: 14px;
        width: 100%;
        overflow: hidden;
        border: none;
        outline: none;
        appearance: none;
        background: transparent;
        padding: 0;
        font-family: 'Onest Medium', Arial, Helvetica, sans-serif;
        font-size: 14px;
        line-height: 14px;
        color: #202B39;
        cursor: pointer;

        &::placeholder {
            font-family: 'Onest Medium', Arial, Helvetica, sans-serif;
            font-size: 14px;
            line-height: 14px;
            color: #767D86; 
        }
    }

    &__submit {
        border: none;
        outline: none;
        appearance: none;
        font-family: 'Onest Regular', Arial, Helvetica, sans-serif;
        font-size: 14px;
        line-height: 20px;
        color: #FFFFFF;
        background-color: #42C8F8;
        width: 100%;
        padding: 20px 0;
        border-radius: 8px;
        margin-top: 32px;
    }

    .reviews-mob-doctors-menu,
    .reviews-mob-services-menu {
        position: absolute;
        bottom: -100%;
        left: 0;
        right: 0;
        max-height: 611px;
        background-color: #FFFFFF;
        border-radius: 20px 20px 0 0;
        padding: 24px 24px 29px 24px;
        box-sizing: border-box;
        transition: bottom .3s ease-out;
        overflow: auto;

		&__header {
            position: relative;
            padding: 12px 0;
		}

		&__title {
            font-family: 'Onest SemiBold', Arial, Helvetica, sans-serif;
            font-size: 20px;
            line-height: 20px;
            color: #202B39;
            margin-left: 12px;
		}

		&__close {
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            border: none;
            outline: none;
            appearance: none;
            width: 44px;
            height: 44px;
            background-color: #F6F6F6;
            border-radius: 8px;
            background-image: url('../images/close.svg');
            background-repeat: no-repeat;
            background-size: 10px 10px;
            background-position: center;
		}

		&__input {
            border: none;
            outline: none;
            appearance: none;
            width: 100%;
            box-sizing: border-box;
            background-color: #F7F8FA;
            padding: 26px 16px;
            border-radius: 8px;
            font-family: 'Onest Medium', Arial, Helvetica, sans-serif;
            font-size: 14px;
            line-height: 14px;
            color: #202B39;
            margin-top: 32px;

            &::placeholder {
                font-family: 'Onest Medium', Arial, Helvetica, sans-serif;
                font-size: 14px;
                line-height: 14px;
                color: #767D86;     
            }
		}

		&__items {
            margin-top: 8px;
		}

		&__item {
            position: relative;
            padding: 12px;
            border-radius: 8px;
            transition: all .3s ease-out;

            &.choosed {
                background-color: #F7F8FA;
            }
		}

		&__docname {
            font-family: 'Onest SemiBold', Arial, Helvetica, sans-serif;
            font-size: 12px;
            line-height: 14px;
            color: #000000;
            max-width: 276px;
		}

		&__docposition {
            font-family: 'Onest Regular', Arial, Helvetica, sans-serif;
            font-size: 10px;
            line-height: 12px;
            color: #798088;
            margin-top: 4px;
            max-width: 282px;
		}

		&__clinics {
            position: absolute;
            top: 12px;
            right: 12px;

            .bull-area {
                .bull {
                    margin-right: 4px;

                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
		}
    }

    .reviews-mob-services-menu {
        bottom: 0;

		&__groups {
            margin-top: 32px;
		}

		&__group {
            border-bottom: 1px solid #E6E6E6;
            padding-bottom: 16px;
            margin-bottom: 8px;

            &:last-child {
                margin-bottom: 0; 
            }

            &-checkboxes {
                margin-left: 28px;
            }

            &-checkbox {
                
                input {
                    position: absolute;
                    z-index: -1;
                    opacity: 0;
                }

                input.reviews-mob-services-menu__group-input-main + span {
                    font-family: 'Onest Bold', Arial, Helvetica, sans-serif;
                    font-size: 14px;
                    line-height: 12px;
                    color: #202B39;
                }

                span {
                    display: inline-flex;
                    align-items: center;
                    user-select: none;
                    font-family: 'Onest Medium', Arial, Helvetica, sans-serif;
                    font-size: 14px;
                    line-height: 14px;
                    color: #000000;
                    padding: 12px 12px;

                    &::before {
                        content: '';
                        display: inline-block;
                        width: 18px;
                        height: 18px;
                        flex-shrink: 0;
                        flex-grow: 0;
                        border: 1px solid #D9DAE4;
                        border-radius: 4px;
                        margin-right: 8px;
                        background-repeat: no-repeat;
                        background-position: center center;
                        background-size: 10px 7px;
                    }
                }

                input:checked + span::before {
                    border: 1px solid #42C8F8;
                    background-color: #42C8F8;
                    background-image: url('../images/check.svg');
                } 
            }

            &-input-main {}

            &-input {}

		}

    }




}


